#stb_subscribe * {
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: 0;
    color: #333;
    box-sizing: border-box;
  }
  
  #stb_subscribe ul,
  #stb_subscribe ol {
    padding-left: 16px;
    white-space: initial;
  }
  
  #stb_subscribe {
    width: 100%;
    /* background-color: #fff; */
    /* border: solid 1px #b4b4b4; */
    /* padding: 30px; */
    margin: 0;
    box-sizing: border-box;
  }
  
  #stb_subscribe .stb_header {
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding-bottom: 40px;
  }
  
  #stb_subscribe .stb_header img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  
  #stb_subscribe .stb_form_title {
    font-size: 24px;
    padding-bottom: 30px;
    color: #333;
    line-break: anywhere;
  }
  
  #stb_subscribe .stb_form_description {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 1.71;
    color: #333;
    line-break: anywhere;
  }
  
  #stb_subscribe .stb_form_description a {
    text-decoration: underline;
    color: #3e81f6;
  }
  
  #stb_subscribe .stb_form_set {
    /* padding-bottom: 15px; */
    overflow: hidden;
    position: relative;
  }
  
  #stb_subscribe .stb_form_set .stb_form_set_label {
    color: var(--color-gray-light-6);
    padding-bottom: 10px;
    display: block;
  }
  
  #stb_subscribe .stb_form_set .stb_form_set_label .stb_asterisk {
    color: #ff6464;
  }
  
  /* #stb_subscribe .stb_form_set .stb_form_set_input {
    display: block;
    width: 100%;
    padding: 9px 10px;
    border: solid 1px #b4b4b4;
    background: #fff;
  } */
  
  /* #stb_subscribe .stb_form_set select {
    display: block;
    width: 100%;
    padding: 8px 15px 8px 10px;
    border: solid 1px #b4b4b4;
    background: #fff;
  } */
  
  #stb_subscribe .stb_form_set .stb_form_radio {
    padding-bottom: 8px;
  }
  
  #stb_subscribe .stb_form_set .stb_form_radio.deselect {
    text-decoration: underline;
    cursor: pointer;
    display: none;
  }
  
  #stb_subscribe .stb_form_set .stb_form_radio.etc_input {
    display: none;
  }
  
  #stb_subscribe .stb_form_msg_error {
    display: none;
    color: #f95a1f;
    padding: 5px 0;
    font-size: 12px;
    /* position: absolute;
    left: 0;
    bottom: 0; */
  }
  
  #stb_subscribe .stb_form_policy {
    position: relative;
    padding-bottom: 15px;
  }
  
  #stb_subscribe .stb_form_policy.odd {
    position: relative;
    padding-bottom: 10px;
  }
  
  #stb_subscribe .stb_form_policy * {
    vertical-align: middle;
  }
  
  /* #stb_subscribe .stb_form_policy label input {
    width: 16px;
    height: 16px;
    margin: 0 3px 0 0;
  } */
  
  #stb_subscribe .stb_form_policy label button {
    color: #3e81f6;
    cursor: pointer;
    background: none;
    text-decoration: underline;
    margin-top: -2px;
  }
  
  
  #stb_subscribe .stb_form_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
  }
  
  #stb_subscribe .stb_form_modal.blind {
    display: none !important;
  }
  
  #stb_subscribe .stb_form_modal_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: 1;
  }
  
  #stb_subscribe .stb_form_ad_modal_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: 1;
  }
  
  #stb_subscribe .stb_form_modal_body {
    background: #fff;
    width: 94%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 5px;
  }
  
  #stb_subscribe .stb_form_modal_body p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  
  #stb_subscribe .stb_form_modal_title {
    font-size: 18px;
    font-weight: 600;
    padding: 30px;
    color: #333;
  }
  
  #stb_subscribe .stb_form_modal_text {
    font-size: 16px;
    line-height: 1.71;
    color: #333;
    margin: 0 30px;
    max-height: 200px;
    overflow-y: auto;
    white-space: initial !important;
  }
  
  #stb_subscribe .stb_form_modal_btn {
    padding: 30px;
    text-align: center;
  }
  
  #stb_subscribe .stb_form_modal_btn button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #e6e6eb;
    color: #333;
    cursor: pointer;
  }
  
  /* #stb_subscribe .stb_form_set_submit {
    padding-top: 10px;
  }
   */
  /* #stb_subscribe .stb_form_submit_button {
    width: auto;
    height: 42px;
    background: #3e81f6;
    color: #fff;
    padding: 0 22px;
    cursor: pointer;
  } */
  
  #stb_subscribe .newsletter-button.disabled {
    pointer-events: none;
    opacity: .5;
  }
  
  #stb_subscribe.theme-page .newsletter-button {
    width: 100%;
    padding: 20px 0;
    border: 1px solid red;
  }
  
  #stb_subscribe .stb_form_result {
    display: none;
    padding: 0 0 0 0;
    text-align: left;
  }
  
  #stb_subscribe .stb_form_result p {
    line-height: 1.4;
    font-size: 12px;
  }
  
  #stb_subscribe .stb_form_result.fail p {
    color: #f95a1f;
  }
  
  #stb_subscribe .stb_form_result.success p {
    color: #3e81f6;
  }

  #stb_subscribe .stb_form_result.fail, #stb_subscribe .stb_form_result.success {
    background: none !important;
  }

  #stb_subscribe input.newsletter-field {
    padding-left: 15px;
  }

  @media only screen and (max-width: 575px) { 
/* 
    .form input.newsletter-field,
    .form .newsletter-field-wrap{
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .form .newsletter-button{
        display: block;
        width: 100%;
    } */
    #stb_subscribe .newsletter-button {
      height: 50px;
      margin-top: 10px;
    }
  }